{{!< layout}}

<!-- The dialog has a primary action "say hello", declared in the descriptor atlassian-connect.json -->
<!-- It is implemented in the js/addon.js file imported in the layout -->

<div class="aui-group">
  <div class="aui-item">
    <ul style="padding: 1em">
    {{#secrets}}
      <li style="display: flex; align-items: center; margin-bottom: .8em;"><img src="{{{serviceImage}}}" style="display: block; width: 2.5em; height: 2.5em; margin-right: 1em" /><div>{{label}}</div></li>
    {{/secrets}}
    </ul>
  </div>
</div>
