{{!< layout}}

<!-- The dialog has a primary action "say hello", declared in the descriptor atlassian-connect.json -->
<!-- It is implemented in the js/addon.js file imported in the layout -->

<style>
.secrets__list {
  padding: 1em;
}
.secrets__item {
  display: flex;
  align-items: center;
  margin-bottom: .8em;
}
.secrets__service-image {
  display: block;
  width: 2.5em;
  height: 2.5em;
  margin-right: 1em;
}
</style>
<div class="aui-group">
  <div class="aui-item">
    {{#if secrets}}
    <ul class="secrets__list">
    {{#secrets}}
      <li class="secrets__item"><img class="secrets__service-image" src="{{{serviceImage}}}" /><div>{{label}}</div><button class="secrets__button" data-action="token" data-label="{{label}}">產生 token</button></li>
    {{/secrets}}
    </ul>
    {{else}}
    <p>目前尚未添加任何鑰匙，使用 <b>/authy add <keyUri></b> 來添加新鑰匙吧！</p>
    {{/if}}
  </div>
</div>
